/* .d-block{
    width: 20ch;
    height:22ch
} */
/* .booklist{ */
    /* display: inline-block; */
    /* background-color: rgba(240, 245, 250, 0.404);
/* } */
.booklist{
height: 300ch;
background-color:rgba(231, 231, 231, 0.589);
}
.booklist .card{
    display:inline-flex;
    margin-left:12ch;
    margin-top: 1ch;
    box-shadow: 3px 3px 2px 1px rgba(141, 129, 129, 0.815);
    margin-top: 8ch;
    height:62.1ch;
}

 

.booklist .card .card-img-top{ 
  width: 33.3ch;
  height: 30ch;
}



 .card-body{
    height: 100ch;
    color: white;
    font-size:5ch;

}
.card-text{
    position: absolute;
    bottom: 18ch;
}

