
.header {
  padding: 3ch;
  position: sticky;
  top: 0ch;
  z-index: 100;

}

.header button{
  position: relative;
  left:  36ch;
  border-radius: 1ch;
  background-color:rgb(0,142,226);
  color: white;
  font-weight: bold;
  border-color:rgb(0,142,226);
  
}
.navbar button:hover{
  transition: 1.2ms;
  transform: scale(1.2);
}
.headerbrand {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2.5ch;
  margin-left: 42ch;
}
.card{
  height: 55ch;
}
a{
  color:#fff;
  text-decoration: none;
margin-left: 3ch;
position: relative;
left:  35ch;
}

a:hover{
  color:rgb(207, 184, 184);
}